# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# .idea
.idea/

# out file
out.*

# main files
*main.py